body {
  font-family: sans-serif;
  margin: 0;
  /* overflow: hidden; */
}
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}
#world circle {
	stroke: transparent;
  stroke-width: 6px;
}

#south-asia {
	fill: rgb(242,200,1);
	cursor: pointer;
}
#south-asia:hover {
  fill: rgb(202,145,16);
}
.back {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 10px;
  width: 75px;
  height: 75px;
  line-height: normal;
  color: white;
  cursor: pointer;
}
.marker {
  cursor: pointer;
}

.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 1200px;
  display: none;
}
.view.view--block {
  display: block;
}
.view.view--visible .view__inner,
.view.view--visible .view__inner_3 {
  transform: rotate(0deg) !important;
  opacity: 1 !important;
}
.view.view--up .view__inner,
.view.view--up .view__inner_3 {
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  opacity: 0;
}
.view.view--down .view__inner,
.view.view--down .view__inner_3 {
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  opacity: 0;
}

.view__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100vh;
  color: #2bd996;
  transition: opacity 0.6s ease;
  transition-property: opacity, transform;
}

.view__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none !important;
}


.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  opacity: 0;
  overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.pt-page-4 {
  overflow: auto;
}
.pt-page-current {
	opacity: 1;
	z-index: 1;
}